* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  padding: 1px;
}

a {
  color: inherit; /* To remove the default blue color of the anchor tag */
  text-decoration: none;
}

/* NAVBAR-STYLES */
.navvar-container {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-style: 30px;
}
.logo > img {
  height: 50px;
  width: 50px;
}
.nav-links > a {
  margin: 5px 10px;
  font-weight: 600;
  /* border: 1px solid white; */
  padding: 5px 10px;
  background-repeat: 4px;
}
.nav-links > a:hover {
  background-color: white;
  color: black;
}

/* HERO-CONTAINER STYLES */
.hero-container {
  height: calc(100vh - 80px);
  width: 100%;
}

.hero-container > header > h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 150px;
}
.hero-container > p {
  text-align: center;
  padding: 10px 50px;
  width: 70vw;
  margin: 20px auto;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container > button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 8px;
  background-color: darkblue;
  color: white;
}

.btn-container > button:hover {
  cursor:pointer;
}
